body {
  background: #f8b195;
}

/* Flips card */
/* .card{
    width:180px;
    height:240px;
    display: inline-block;
    perspective: 1000px;
    margin: 10px;
}
.flip{
    position:relative;
    transition: transform .3s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 20px;
}
.card:hover .flip{
    transform: rotateY(-180deg);
}
.front, .back{
    border-radius:20px;
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}
.front{
    background-color:#C8BFE5;
    transform: rotateY(180deg);
    
}
.back{
    background-color:#99D9E9;
} */

/* percent = scalable, px = not scalable */
/* .test {
  width: 13%;
  height: 240px;
  border: 1px solid #151718;
  float: left;
  margin-right: 50px;
  margin-bottom: 5px;
  border-radius: 2px;
  font-family: courier;
  cursor: pointer;
  text-align: center;
  background: white;
} */

.card {
  width: 30%;
  height: 240px;
  position: relative;
  background-color: lightgray;
  margin: 1.5%;
  float: left;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
.deck {
  width: 13%;
  height: 240px;
  float: right;
  background-color: lightskyblue;
  transition: all 0.2s ease-in-out;
  margin: 10px;
}
.deck:hover {
  transform: scale(1.1);
}
.inplay {
  width: 45%;
  height: 260px;
  /* float:left; */
  background-color: white;
  border: black 2px;
  margin: 2%;
  padding: 2%;
}
.hand {
  width: 45%;
  height: 260px;
  /* float:left; */
  background-color: darkslategrey;
  border: black 2px;
  margin: 2%;
  padding: 2%;
}
